$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-s: hsla(0, 0%, 100%, 0.6);

$font-inter: "Inter", sans-serif;
$font-lex: "Lexend Deca", sans-serif;
