@import "_globals";
@import "_variables";

.overlay {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  background: $soft-violet;
  border-radius: 0.5rem 0.5rem 0 0;
}

img {
  width: 100.1%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 0.5rem 0.5rem 0 0;
}

.purpose {
  margin: 1.5625rem;
  font-weight: 700;
  span {
    color: $soft-violet;
  }
}

.description {
  margin: 0.625rem 1.5625rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: $slightly-transparent-white-p;
}

.stats-container {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem;
  h2 {
    margin-bottom: 0.3125rem;
  }
  p {
    margin-top: 0.3125rem;
    font-family: $font-lex;
    font-weight: 400;
    font-size: 12px;
    color: $slightly-transparent-white-s;
  }
}

.text-container {
  margin-bottom: 0.9375rem;
}

@media (min-width: 1400px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
  }

  .img-container {
    width: 100%;
  }

  .overlay,
  img {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .text-container {
    padding: 3rem;
    justify-content: space-between;
  }

  .stats-container {
    padding: 25px;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
}
